.brand-grid-33 {
	width: 33%;
	float: left;
}

.brand-grid-25 {
	width: 25%;
}

.item-float-left {
  float: left;
}
    
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.brand-padding {
	padding: 2px;
}

.brand-image-item {
	position: relative;
	/*padding-bottom: 34px;*/
  overflow: hidden;
  text-align: center;
  background-color: #ebebeb;
  /*margin: 28px;*/
}

#drupal-modal .brand-image-item {
  margin: 4%;
}

.brand-image-checkbox-inner {
	position: absolute;
  z-index: 1;
  top: 0px;
  /*left: 34px;*/
  display: block;
}

.brand-image-checkbox {
  width: 15px;
  height: 15px;
}

.brand-image-box {	
	height: 140px;
  object-fit: contain;
  object-position: center center;
  width: 90%;
}

div.field--type-brandfolderassets .form-file {
  display: none;
}

div.field--type-brandfolderassets .js-form-submit, div.field--type-brandfolderassets .js-form-managed-file .file {
  display: none;
}

div.container-brand-library-image-selection .js-form-submit {
  display: block !important;
}

.asset-name {
  float: left;
  margin-left: 2%;
}

.asset-extension {
  float: right;
  background-color: #f8fafc;
  border-radius: 14px;
  color: #6f6f6f;
  font-size: 12px;
  line-height: 22px;
  max-width: 30px;
  overflow-x: hidden;
  padding: 2px 12px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  width: 100%;
}

.selected-image-remove {
  cursor: pointer;
}






.brandfolderassets-popup-dialog-class .overlay {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000;
    opacity: 0.5;
}

.brandfolderassets-popup-dialog-class .overlay__inner {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.brandfolderassets-popup-dialog-class .overlay__content {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.brandfolderassets-popup-dialog-class .spinner {
    width: 75px;
    height: 75px;
    display: inline-block;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.05);
    border-top-color: #fff;
    animation: spin 1s infinite linear;
    border-radius: 100%;
    border-style: solid;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.brandfolderassets-popup-dialog-class .pagination {
    padding: 5%;
    text-align: center;
}

.brandfolderassets-popup-dialog-class .disablebtn {
  pointer-events: none;
  opacity: 0.1;
}