{#
/**
 * @file
 * Default theme implementation for a link to a brandfolder assets.
 *
 * @see template_preprocess_brand_file_link()
 *
 * @ingroup themeable
 */
#}
<span{{ attributes }}>
	<video width="320" height="240" controls poster="{{ link }}">
	 <source src="{{ assetsurl }}" type="video/mp4">  
	</video>
</span>



